<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <nav>
     <img src="/images/heart.png" class="logo" alt="logo">
     <strong><span id="heading">HeartCare</span></strong>
     <form action="/" method="get">
    <button class="button" type="submit">Logout</button>
    </form>
   </nav>
  <div class="main">
    <div class="details">
      <a href="#"><img class="smaller-image thick-green-border" src="https://cactusthemes.com/blog/wp-content/uploads/2018/01/tt_avatar_small.jpg" alt="User's Picture."></a>
      <div class="fullCard" id="thumbnail">
        <div class="cardContent">
          <div class="cardText">
            <h4>Patient</h4>
            <hr>
            <h5>Age</h5>
            <strong>Medical History</strong>
          </div>
          <div class="cardLinks">
        </div>
      </div>
    </div>
    </div>
    <div class="btemp">
      <div class="btemp_card">
        <ul class="list">
       
            <div class="heart"></div>
          <li class="list_item1">72 Beats/min</li>
          <img class="thermo "src="/images/thermometer.png" alt="thermo">
          <li class="list_item2">&nbsp;&nbsp;&nbsp;98.7 Fahrenheit</li>
        </ul>
      </div>
    </div>
    <div class="img_slider">
        <div class="container">
            <div class="slider">
              <div class="slide">
                <h2>Stop smoking—no ifs, ands, or butts</h2>
                <em>There are many steps you can take to help protect your health and blood vessels. Avoiding tobacco is one of the best.</em>
              </div>
              <div class="slide">
                <h2>Focus on the middle</h2>
                <em>That is, focus on your middle. Research in the Journal of the American College of Cardiology has linked excess belly fat to higher blood pressure and unhealthy blood lipid levels. If you’re carrying extra fat around your middle, it’s time to slim down. Eating fewer calories and exercising more can make a big difference.
                </em>
              </div>
              <div class="slide">
                <h2>Go fish</h2>
                <em>Eating a diet rich in omega-3 fatty acids can also help ward off heart disease. Many fish, such as salmon, tuna, sardines, and herring, are rich sources of omega-3 fatty acids. Try to eat fish at least twice a week, suggests the AHA. If you’re concerned about mercury or other contaminants in fish, you may be happy to learn that its heart-healthy benefits tend to outweigh the risks for most people.</em>
              </div>
              <div class="slide">
                <h2>Laugh out loud</h2>
                <em>
                    Don’t just LOL in emails or Facebook posts. Laugh out loud in your daily life. Whether you like watching funny movies or cracking jokes with your friends, laughter may be good for your heart. According to the AHA, research suggests laughing can lower stress hormones, decrease inflammation in your arteries, and raise your levels of high-density lipoprotein (HLD), also known as “good cholesterol.”
                </em>
              </div>
              <div class="slide">
                <h2>Stretch it out</h2>
                <em>
                    Yoga can help you improve your balance, flexibility, and strength. It can help you relax and relieve stress. As if that’s not enough, yoga also has potential to improve heart health. According to research published in the Journal of Evidence-Based Complementary & Alternative Medicine, yoga demonstrates potential to reduce your risk of cardiovascular disease.
                </em>
              </div>
            </div>
          </div>
    </div>
  <div class="graph">
      <div id="loader" class="loader">
      </div>
      <canvas id="weatherChart">

      </canvas>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
  <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
  <script type="text/javascript" src="/javascripts/app2.js"></script>

  </body>
</html>
