<!DOCTYPE html>
<html>
<head>
        <title>Login page</title>
        <link rel="stylesheet" href="/stylesheets/login.css">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzqceCICoRE9b4Usp4UTbDKV6ntpHxAVg&libraries=places&callback=initMap"></script>
</head>
<body>
        <div class="login">
                <h1>Login</h1>
                <form action="/dashboard" method="GET">
                    <input type="text" name="u" placeholder="Device ID" required="required" />
                    <input type="password" name="p" placeholder="Name" required="required" />
                    <input type="text" id="search" placeholder="Enter your location">
                    <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
                </form>
            </div>
<script>
        google.maps.event.addDomListener(window,'load',initilize);
function initilize(){
        console.log("kdgsauygfu");
        var autocomplete=new google.maps.places.Autocomplete(document.getElementById('search'));
        google.maps.event.addListener(autocomplete,'place_changed',function(){

            var places=autocomplete.getPlace();
            var location="Location"+places.formatted_address;
            var lat=places.geometry.location.lat();
            var lng=places.geometry.location.lng();
            console.log(location +"     "+lat+" -------"+lng);
            send(location,lat,lng)
        })
        
    }</script>
    
       
</body>
</html>